extends layout

block content
  h1 MediaElementPlayer.js
  h2 YouTube Wrapper
  video.player1(width="640",height="360",controls="control",preload="none")		
    source(src="http://www.youtube.com/watch?v=nOEw9iiopwI&html5=True",type="video/youtube")
  span.player1-mode
  script
    jQuery(document).ready(function($) {
      var player = new MediaElementPlayer('#player1');
    });
