doctype 5
html
  head
    title Youtube Video
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mediaelementplayer.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/mediaelement-and-player.js')
  body
    block content
