doctype 5
html
  head
    title Youtube Video
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mediaelementplayer.min.css')
    script('/javascripts/jquery.js')
    script('/javascripts/mediaelement-and-player.js')
  body
    block content
