doctype 5
html
  head
    title Youtube Video
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/mediaelementplayer.css')
    script(src='/jquery.js')
    script(src='/mediaelement-and-player.js')
  body
    block content
